html, body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: sans-serif;
}

*{
  box-sizing: border-box
}

canvas {
  display: block;
  image-rendering: optimizeSpeed;
  max-width: 100%;
  max-height: 100%;
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

#sidebar{
  height: 100%;
  padding: 20px;
  background-color: rgb(233, 233, 233);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  overflow: scroll;
  resize: horizontal;
  /* width: 100%; */
}

#control-group{
}

#sidebar canvas{
  margin: 0px -10px;
}

#canvas-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

button{
  background-color: white;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid #d3d3d3;
  margin: 5px;
}

button:hover{
  background-color: whitesmoke;
}

button:active{
  background-color: lightgray;
}
